In [ ]:
#Your task is to create a Python script that analyzes the records to calculate each of the following values:

#The total number of months included in the dataset

#The net total amount of "Profit/Losses" over the entire period

#The changes in "Profit/Losses" over the entire period, and then the average of those changes

#The greatest increase in profits (date and amount) over the entire period

#The greatest decrease in profits (date and amount) over the entire period

In [1]:
cd /Users/jnellniz/Desktop/Module 3/Module3ChallangeFiles/Starter_Code/PyBank/Resources

/Users/jnellniz/Desktop/Module 3/Module3ChallangeFiles/Starter_Code/PyBank/Resources

In [2]:
import os
import csv

pybank_path = os.path.join("budget_data.csv")

In [3]:
pybank_path

'budget_data.csv'

In [43]:
# Lists to store data
date = []
pl = []



with open(pybank_path) as csvfile:

# CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    
# Read the header row first (skip this step if there is no header)
    csv_header = next(csvreader)

    for row in csvreader:

        date.append(row[0])
        pl.append(row[1])
        #print(row[0],row[1])
        print(row)

TypeError: 'float' object is not iterable

In [38]:
for row in csvreader:
    print(row)

ValueError: I/O operation on closed file.

In [35]:
csvreader

In [10]:
row_count = len(date)
print("Total number of months included in the dataset: " + str(row_count))

Total number of months included in the dataset: 86

In [14]:
#The net total amount of "Profit/Losses" over the entire period
pl

['1088983',
 '-354534',
 '276622',
 '-728133',
 '852993',
 '563721',
 '-535208',
 '632349',
 '-173744',
 '950741',
 '-785750',
 '-1194133',
 '-589576',
 '-883921',
 '443564',
 '837887',
 '1081472',
 '464033',
 '-1066544',
 '323846',
 '-806551',
 '487053',
 '1128811',
 '791398',
 '739367',
 '-197825',
 '666016',
 '589771',
 '489290',
 '-471439',
 '120417',
 '175347',
 '855449',
 '605195',
 '-235220',
 '347138',
 '298510',
 '163254',
 '1141840',
 '542630',
 '99841',
 '752765',
 '-252949',
 '914424',
 '679524',
 '514377',
 '462102',
 '159782',
 '878810',
 '-946748',
 '340335',
 '292032',
 '502266',
 '265852',
 '851017',
 '-549615',
 '290162',
 '755391',
 '1073202',
 '313000',
 '241132',
 '1036589',
 '853904',
 '-388932',
 '982952',
 '537759',
 '547784',
 '-496214',
 '854181',
 '934719',
 '-288531',
 '-184383',
 '659541',
 '-1149123',
 '355882',
 '662284',
 '518681',
 '-748256',
 '-910775',
 '951227',
 '898241',
 '-729004',
 '-112209',
 '516313',
 '607208',
 '382539']

In [16]:
type(pl)

list

In [20]:
pl_cleaned = [float(amount) for amount in pl]
pl_cleaned

[1088983.0,
 -354534.0,
 276622.0,
 -728133.0,
 852993.0,
 563721.0,
 -535208.0,
 632349.0,
 -173744.0,
 950741.0,
 -785750.0,
 -1194133.0,
 -589576.0,
 -883921.0,
 443564.0,
 837887.0,
 1081472.0,
 464033.0,
 -1066544.0,
 323846.0,
 -806551.0,
 487053.0,
 1128811.0,
 791398.0,
 739367.0,
 -197825.0,
 666016.0,
 589771.0,
 489290.0,
 -471439.0,
 120417.0,
 175347.0,
 855449.0,
 605195.0,
 -235220.0,
 347138.0,
 298510.0,
 163254.0,
 1141840.0,
 542630.0,
 99841.0,
 752765.0,
 -252949.0,
 914424.0,
 679524.0,
 514377.0,
 462102.0,
 159782.0,
 878810.0,
 -946748.0,
 340335.0,
 292032.0,
 502266.0,
 265852.0,
 851017.0,
 -549615.0,
 290162.0,
 755391.0,
 1073202.0,
 313000.0,
 241132.0,
 1036589.0,
 853904.0,
 -388932.0,
 982952.0,
 537759.0,
 547784.0,
 -496214.0,
 854181.0,
 934719.0,
 -288531.0,
 -184383.0,
 659541.0,
 -1149123.0,
 355882.0,
 662284.0,
 518681.0,
 -748256.0,
 -910775.0,
 951227.0,
 898241.0,
 -729004.0,
 -112209.0,
 516313.0,
 607208.0,
 382539.0]

In [21]:
sum(pl_cleaned)

22564198.0

In [25]:
# Lists to store data
date = []
pl = []

for row in csvreader:
    
     first_row = next(cvsreader)
        
        change = int(row[1]) - prev_am
        
        prev_am = int(first_row[1])

IndentationError: unexpected indent (2561426095.py, line 8)

In [45]:
# Lists to store data
date = []
pl = []
total = 0

with open(pybank_path) as csvfile:

# CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
   
    first_row = next(csvreader)

    total += float(first_row[1])
    
    prev_net = int(first_row[1])
    
    
    for row in csvreader:
        
        total += int(row[1])
        
        # Track the net change
        
        change = int(row[1]) - prev_net
        
        prev_net = int(row[1])
        
        pl += [change]
        
        date += [row[0]]

ValueError: could not convert string to float: 'Profit/Losses'

In [23]:
#The changes in "Profit/Losses" over the entire period, and then the average of those changes

prev_net = int(first_row[1])
net_change = int(first_row[1]) - prev_net
prev_net = int(first_row[1])
net_change_list += [net_change]
month_of_change += [row[0]]

#could append through the entire list

#would want to nest this in a for loop

#another option is to append and then increments through the list - ex: +1 or i 

#collect the whole list

NameError: name 'prev_net' is not defined

In [ ]:
#The changes in "Profit/Losses" over the entire period, and then the average of those changes

# Track the total
        #total_months += 1
        #total_net += int(row[1])

#net_change = int(row[1]) - prev_net

In [ ]:
#The changes in "Profit/Losses" over the entire period, and then the average of those changes


#date = []
#pl = []
#changes = []

data = []

with open(pybank_path) as csvfile:

# CSV reader specifies delimiter and variable that holds contents
    csvreader = csv.reader(csvfile, delimiter=',')
    
# Read the header row first (skip this step if there is no header)
    csv_header = next(csvreader)

    for row in csvreader:

        data.append()